@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}

:root {
    --main-bg-color: #ffffff;
    --secondary-bg-color: #eeeeee;
    --main-text-color: #000000;
    --subtitle-color: #6c6f85;
    --link-color: #1e66f5;
    --nav-item-margin-right: 24px;
}

*, *::before, *::after {
    font-family: roboto;
    box-sizing: border-box;
    margin: 0;
    background: var(--main-bg-color);
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: snow;
    min-height: 100vh;
}


body > div {
    min-height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    box-shadow: #AAA 0 0 15px;
}

body > div > * {
    width: 100%;
}

header {
    position: fixed;
    left: 15pt;
    background: snow;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header > nav > ul {
    padding-left: 0;
    list-style: none;
}

header * {
    background: snow;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

p { margin-top: 10px; }

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

a.brand {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 24px;
}

svg, path {
    color: inherit;
}

a.nav-link {
    list-style: none;
    display: flex;
    padding-left: 0;
    text-decoration: none;
    font-size: 12pt;
    color: var(--subtitle-color);
}


a.nav-link:hover {
    color: var(--primary-text-color);
}

footer {
    display: flex;
    flex-direction: column;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
}

footer > #copyright {
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}

div.card {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.25rem;
}

div.card:nth-child(n + 1) {
    margin-top: 18px;
}

div.card a {
    color: var(--link-color);
    text-decoration: none;
}

div.card a:hover {
    text-decoration: underline;
}

.reading-card > hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

.book-title {
    font-weight: normal;
}

img {
    max-width: 100%;
}

article > div:nth-child(n+1) {
    margin-top: 16px;
}

.row {
    display: flex;
}

.row-centered {
    justify-content: center;
}

table { 
    margin: 0 auto;
    border-collapse: collapse;
}

table * {
    background: inherit
} 

table td, table th {
    border-bottom: 2px solid black;
    padding: 8px;
}

tr:nth-child(even) {
    background: var(--secondary-bg-color);
}

table.dated-table { margin: 0; }

table.dated-table td, table.dated-table tr, table.dated-table th {
    border: none;
    background: None;
}

table.dated-table td:first-child {
    min-width: 80pt;
    align-content: baseline;
}

table.dated-table td * {
    margin: 0;
}

#top-hr {
    margin-bottom: 18px;
}

#filler {
    flex-grow: 1;
}

#bottom-hr {
    margin: 18px 0;
}

pre {
    background-color: var(--secondary-bg-color);
    border-radius: 0.25rem;
    border: 1px solid black;
    font-family: monospace;
    font-size: 12px;
    padding: 4px;
}

pre code {
    background-color: inherit;
}

.rounded-border {
    border-radius: 15px;
    text-align: center;
    box-shadow: #888 0 0 10px;
}

@media screen and (min-width: 930pt) {
    body > div {
        width: 640pt;
        margin: 0 auto;
    }
    footer ul {
        width: 100%;
        align-items: center;
    }
    main > div {
        column-gap: 18px;
        display: grid;
        grid-template-rows: 2fr;
        grid-template-columns: 2fr;
    }
    main > div > img {
        grid-row-start: 1;
        grid-row-end: span 2;
        grid-column-start: 2;
    }
    header {
        width: 120pt !important;
    }
}

@media screen and (max-width: 930pt) {
    header {
        position: unset;
        background: var(--main-bg-color);
    }
    header * {
        background: var(--main-bg-color);
    }
    header > nav > ul {
        display: flex;
        flex-wrap: wrap;
    }
    header > nav > ul > li:not(:last-child) {
        margin-right: var(--nav-item-margin-right);
    }
    nav         { margin-left: 0; }
    footer ul   { flex-direction: column; }
    main > div > img {
        margin: 18px auto 0 auto;
        display: block;
    }
}
