    <h3>Undergraduate Researchers</h3>
    <p><span style="display: inline-block;"><strong>Aaron Burgess</strong>. 2026 - Present. Human factors in software engineering.</span></p>
    <p><span style="display: inline-block;"><strong>Thiago Airoldi</strong>. 2026 - Present. Analysis and security of software development pipelines.</span></p>
    <p><span style="display: inline-block;"><strong>Rasmin Ahmed</strong>. 2026 - Present. Analysis and security of software development pipelines.</span></p>
    <p><span style="display: inline-block;"><strong>Daniel Henriquez</strong>. 2026 - Present. Analysis and security of software development pipelines.</span></p>
    <p><span style="display: inline-block;"><strong>Brayden Coggin</strong>. 2026 - Present. Analysis and security of software development pipelines.</span></p>
    <p><span style="display: inline-block;"><strong>Thai Nguyen</strong>. 2025 - 2026. Human factors in software engineering and analysis and security of software development pipelines.</span></p>
    <p><span style="display: inline-block;"><strong>Nikola Krstajic</strong>. 2025. Human factors in software engineering.</span></p>
    <p><span style="display: inline-block;"><strong>Michael Johnson</strong>. 2025 - Present. Human factors in software engineering and analysis and security of software development pipelines.</span></p>
    <p><span style="display: inline-block;"><strong>Layla Le</strong>. 2025. Human factors in software engineering.</span></p>
    <p><span style="display: inline-block;"><strong>Kenneth Valladares</strong>. 2025. Human factors in software engineering.</span></p>
    <p><span style="display: inline-block;"><strong>Julian Velez</strong>. 2025. Human factors in software engineering.</span></p>
    <p><span style="display: inline-block;"><strong>Jorge Toledo</strong>. 2025. Human factors in software engineering.</span></p>
    <p><span style="display: inline-block;"><strong>Hasini Daliboyina</strong>. 2025. Human factors in software engineering.</span></p>
    <p><span style="display: inline-block;"><a href="http://d4davidg.github.io/"><strong>David Gusmao</strong></a>. 2025 - Present. Human factors in software engineering and analysis and security of software development pipelines.</span></p>
    <p><span style="display: inline-block;"><strong>Anju Thomas</strong>. 2025. Human factors in software engineering.</span></p>
    <p><span style="display: inline-block;"><strong>Adam Betinsky</strong>. 2025 - Present. Human factors in software engineering and analysis and security of software development pipelines.</span></p>
    <p><span style="display: inline-block;"><a href="https://zachburkett.website/"><strong>Zachary Burkett</strong></a>. 2024. Semantics-aware translation of C preprocessor.</span></p>
    <p><span style="display: inline-block;"><a href="https://silvermight.com/"><strong>Joseph Zalusky</strong></a>. 2024. Semantics-aware translation of C preprocessor macros.</span></p>
