    <table class='dated-table'>
      <tr>
        <td><strong>2026</strong></td>
        <td><span style="display: inline-block"><strong>GTA Excellence Award (University level)</strong>. For providing exceptional teaching assistance to the course Systems Software. Awarded to 1 out of 800+ graduate teaching assistants. <a href="https://drive.google.com/file/d/17G9zGkZdGVgldvZM5u9xAr1xgcUMaAyz/view?usp=drive_link">Award letter</a>.</span></td>
      </tr>
      <tr>
        <td><strong>2026</strong></td>
        <td><span style="display: inline-block"><strong>GTA Excellence Award (College level)</strong>. For providing exceptional teaching assistance to the course Systems Software. <a href="https://drive.google.com/file/d/1Gas3ek39nMf2H7F3IKvntICKfKLw-Lrd/view?usp=drive_link">Award letter</a>.</span></td>
      </tr>
      <tr>
        <td><strong>2026</strong></td>
        <td><span style="display: inline-block"><strong>CRA-WP 2026 Grad Cohort Workshop Invitee</strong>. The CRA-WP arranged and paid for me to travel to the 2026 CRA-WP Grad Cohort Workshop in Seattle, Washington, because of my superior workshop application.</span></td>
      </tr>
      <tr>
        <td><strong>2024</strong></td>
        <td><span style="display: inline-block"><strong>UCF 3MT Finalist</strong>. For effectively communicating my research to a general audience in a 3 minute talk. <a href="https://youtu.be/WWrDwh43a6k?si=c0dKVbDJigxduL__">Video</a>. <a href="https://drive.google.com/file/d/1Fz-gpwz65xgFBYCtvsA3Yh2gfTstVNhM/view?usp=sharing">Certificate</a>.</span></td>
      </tr>
      <tr>
        <td><strong>2024</strong></td>
        <td><span style="display: inline-block"><strong>Distinguished Artifact Reviewer</strong>. For my attention to detail while reviewing artifacts for OOPLSA 2024. <a href="https://2024.splashcon.org/track/splash-2024-oopsla-artifacts#distinguished-artifact-reviewers">Link</a>.</span></td>
      </tr>
      <tr>
        <td><strong>2024</strong></td>
        <td><span style="display: inline-block"><strong>FCI Student Scholarship</strong>. For my interest in interdisciplinary research, scholarship, and collaboration. $5000 award.</span></td>
      </tr>
      <tr>
        <td><strong>2021</strong></td>
        <td><span style="display: inline-block"><strong>Cum laude honors</strong>. For having a cumulative undergraduate GPA greater than 3.8.</span></td>
      </tr>
      <tr>
        <td><strong>2017 - 2021</strong></td>
        <td><span style="display: inline-block"><strong>Deans’ list</strong>. For continued undergraduate scholastic achievement.</span></td>
      </tr>
      <tr>
        <td><strong>2017</strong></td>
        <td><span style="display: inline-block"><strong>Burnett Honors Scholar</strong>. For academic talent, motivation, intellectual curiosity and creativity.</span></td>
      </tr>
      <tr>
        <td><strong>2017</strong></td>
        <td><span style="display: inline-block"><strong>Provost Scholarship</strong>. For outstanding academic performance in high school. Completely covered my undergradyate tuition fees at the University of Central Florida.</span></td>
      </tr>
    </table>
