    <p><span style="display: inline-block;"><strong>PhD</strong>. Computer Science. GPA: 3.983. University of Central Florida. Orlando, Florida. August 2021 - Present.</span></p>
    <p><span style="display: inline-block;"><strong>Master of Science</strong>. Computer Science. GPA: 3.983. University of Central Florida. Orlando, Florida. August 2021 - December 2025.</span></p>
    <p><span style="display: inline-block;"><strong>Bachelor of Science</strong>. Computer Science. GPA: 3.849. University of Central Florida. Orlando, Florida. August 2017 - May 2021.</span></p>
