<header class="mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Brent Pappas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/publications">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/assets/cv.pdf">CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reading">Reading List</a>
                </li>
            </ul>
        </div>
    </nav>
</header>