<header>
    <a class="brand" href="/">Brent Pappas</a>
    <nav>
    <ul>
        <li><a class="nav-link" href="/teaching">Teaching</a></li>
        <li><a class="nav-link" href="/publications">Publications</a></li>
        <li><a class="nav-link" href="/service">Service</a></li>
        <li><a class="nav-link" href="/advising">Advising</a></li>
        <li><a class="nav-link" href="/awards">Awards</a></li>
        <li><a class="nav-link" href="/presentations">Presentations</a></li>
        <li><a class="nav-link" href="/posters">Posters</a></li>
        <li><a class="nav-link" href="/work-experience">Experience</a></li>
        <li><a class="nav-link" href="/workshops">Workshops</a></li>
        <li><a class="nav-link" href="/resources">Resources</a></li>
        <li><a class="nav-link" href="/assets/pdf/cv.pdf">CV</a></li>
        <li><a class="nav-link" href="/blog">Blog</a></li>
        <li><a class="nav-link" href="/news">News</a></li>
        <li><a class="nav-link" href="/hobbies">Hobbies</a></li>
    </ul>
    </nav>
</header>
