<header>
    <nav>
        <a class="brand" href="/">Brent Pappas</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/publications">Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/service">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/assets/pdf/cv.pdf">CV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resources">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reading">Reading List</a>
            </li>
        </ul>
    </nav>
</header>
