    <table class='dated-table'>
      <tr>
        <td><strong>2026</strong></td>
        <td><span style="display: inline-block;"><strong>Curing Pipeline Poisoning.</strong> 3 minute thesis on my research on securing build systems against pipeline poisoning with build phase isolation. Presented at the CRA 2026 Grad Cohort Workshop. <a href="https://youtu.be/mqefX6UBE-s">Recording link</a>.</span></td>
      </tr>
      <tr>
        <td><strong>2026</strong></td>
        <td><span style="display: inline-block;"><strong>Invited Talk - The PhD Life.</strong> Guest lecture on graduate student life presented to Sonoma State University's 2026 Spring Colloquium, hosted by Dr. John Sullins. <a href="https://docs.google.com/presentation/d/1WUTaZjdJ1uzKI8dT6R4X5v8zV8xtIPd3KFkK8yeqoBE/edit?usp=sharing">Slides</a>.</span></td>
      </tr>
      <tr>
        <td><strong>2025</strong></td>
        <td><span style="display: inline-block;"><strong>Invited Talk - The PhD Life.</strong> Guest lecture on graduate student life presented to Dr. Suzanne Rivoire’s undergraduate course, Computing Professions, at Sonoma State University. <a href="https://docs.google.com/presentation/d/1bzOUo4KNtD9nto1ynTbz5cZo12AiLo_7EIrrJX-tico/edit">Slides</a>.</span></td>
      </tr>
      <tr>
        <td><strong>2024</strong></td>
        <td><span style="display: inline-block;"><strong>Semantic Analysis of Macro Usage for Portability (ICSE 2024).</strong> Presentation at the 2024 International Conference on Software Engineering in Lisbon, Portugal. <a href="https://www.youtube.com/watch?v=OU7kh0YX-Kk">Recording</a>.</span></td>
      </tr>
      <tr>
        <td><strong>2023</strong></td>
        <td><span style="display: inline-block;"><strong>Semantic Analysis of Macro Usage for Portability (CAE-R)</strong> Virtual presentation for Center of Academic Excellence in Cyber Research (CAE-R). <a href="https://drive.google.com/file/d/1xCd34w54hs1iyaoXHz0MUkwlH-fP3HLo/view">Recording; jump to 25:38</a>.</span></td>
      </tr>
    </table>
