    <table class='dated-table'>
      <tr>
        <td><strong>2026</strong></td>
        <td><span style="display: inline-block;"><strong>Foreman</strong>. University of Central Florida. A Python tool that enables developer to specify the commands file access permissions of phase of a project's build system, to protect these phases against pipeline poisoning attacks. Foreman is the tool associated with 2026 ICSE NIER paper, <em>Build Code is Still Code: Finding the Antidote for Pipeline Poisoning</em>.</span></td>
      </tr>
      <tr>
        <td><strong>2024</strong></td>
        <td><span style="display: inline-block;"><strong>Macroni</strong>. Trail of Bits. A C static analysis tool that combines Trail of Bits’ tools PASTA and VAST to lower C preprocessor macros down to MLIR. <a href="https://github.com/trailofbits/macroni">GitHub</a>.</span></td>
      </tr>
      <tr>
        <td><strong>2024</strong></td>
        <td><span style="display: inline-block;"><strong>Maki</strong>. University of Central Florida. A C++ Clang plugin that analyzes hows C preprocessor macros affect the C AST. Maki provides language porting tools information they can use to port macros to target languages in a way that preserves not just macro behavior, but also macro abstractions. Maki is the tool associated with 2024 ICSE paper, <em>Semantic Analysis of Macro Usage for Portability</em>, for which I am the lead-author. <a href="https://github.com/trailofbits/macroni">GitHub</a>.</span></td>
      </tr>
    </table>
