    <table class='dated-table'>
      <tr>
        <td><strong>2026</strong></td>
        <td><span style="display: inline-block;"><strong>Build Code is Still Code: Finding the Antidote for Pipeline Poisoning</strong>: by Brent Pappas and Paul Gazzillo. ICSE NIER. Acceptance rate of 33.11% (50 / 151). <a href="https://arxiv.org/abs/2601.08995">Pre-print.</a> <a href="https://zenodo.org/records/18233892">Artifact.</a> Badges: Available and reusable. <a href="https://youtu.be/v4P_Z3A8k2k">Presentation.</a> <a href="https://docs.google.com/presentation/d/1S8893dpvrzSFVBp6_gxrGEv-C6VdYlGY8Dm6xT8OX5Y/edit?usp=sharing">Slides.</a></span></td>
      </tr>
      <tr>
        <td><strong>2024</strong></td>
        <td><span style="display: inline-block;"><strong>Semantic Analysis of Macro Usage for Portability</strong>: by Brent Pappas and Paul Gazzillo. ICSE. Acceptance rate of 22.26% (234 / 1051). <a href="https://doi.org/10.48550/arXiv.2401.10422">Pre-print.</a> <a href="https://zenodo.org/records/10511380">Artifact.</a> Badges: Available and reusable. <a href="https://youtu.be/OU7kh0YX-Kk">Presentation.</a> <a href="https://docs.google.com/presentation/d/1seMbRpH9Y0nDR0auOTNYrzqFt_HAmlIL6QBQ8SNvPrY/edit?usp=sharing">Slides.</a></span></td>
      </tr>
      <tr>
        <td><strong>2023</strong></td>
        <td><span style="display: inline-block;"><strong>Holy Macroni! A recipe for progressive language enhancement</strong>: by Brent Pappas. Blog post for Trail of Bits. <a href="https://blog.trailofbits.com/2023/09/11/holy-macroni-a-recipe-for-progressive-language-enhancement">Blog post.</a> <a href="https://github.com/trailofbits/macroni/">Artifact.</a></span></td>
      </tr>
      <tr>
        <td><strong>2022</strong></td>
        <td><span style="display: inline-block;"><strong>SugarC: Scalable Desugaring of Real-World Preprocessor Usage into Pure C</strong>: by Zach Patterson, Zenong Zhang, Brent Pappas, Shiyi Wei, and Paul Gazzillo. ICSE. Acceptance rate of 28.51% (197 / 691). <a href="https://personal.utdallas.edu/~swei/sugarc-icse22.pdf">Pre-print.</a> <a href="https://zenodo.org/records/5915048">Artifact.</a> Badges: Available and reusable. <a href="https://youtu.be/t7ZTbst0QA4">Presentation.</a></span></td>
      </tr>
    </table>
