    <table class='dated-table'>
      <tr>
        <td><strong>Spring 2026</strong></td>
        <td><span style="display: inline-block"><strong>Instructor of Record.</strong> COP-3402 Systems Software. UCF. <a href="https://www.cs.ucf.edu/~pappas/teaching/cop3402/spr2026/">Course homepage.</a> <a href="https://youtube.com/playlist?list=PLEVrbB1AjxeX9qhORoz1lOEAxviEvBXA-&amp;si=ZuYgxNRbGM3u-gk_">Lecture Recordings.</a></span></td>
      </tr>
      <tr>
        <td><strong>Fall 2025</strong></td>
        <td><span style="display: inline-block"><strong>Graduate Teaching Assistant.</strong> COP-3402 Systems Software. UCF. <a href="https://docs.google.com/spreadsheets/d/1EjWH-YXkb-_Eu4IdX0wat7OVKp5OswKjpEf29zrua80/edit?usp=sharing">Student perception of instruction</a></span></td>
      </tr>
      <tr>
        <td><strong>Spring 2025</strong></td>
        <td><span style="display: inline-block"><strong>Graduate Teaching Assistant.</strong> COP-3402 Systems Software. UCF.</span></td>
      </tr>
      <tr>
        <td><strong>Spring 2021</strong></td>
        <td><span style="display: inline-block"><strong>Peer Tutor Mentor.</strong> COP-3502 Computer Science 1 &amp; COP-3330 Object Oriented Programming. UCF.</span></td>
      </tr>
      <tr>
        <td><strong>Spring &amp; Fall 2020</strong></td>
        <td><span style="display: inline-block"><strong>Peer Tutor.</strong> COP-3502 Computer Science 1 &amp; COP-3330 Object Oriented Programming. UCF.</span></td>
      </tr>
      <tr>
        <td><strong>Fall 2019</strong></td>
        <td><span style="display: inline-block"><strong>Peer Tutor.</strong> COP-3502 Computer Science 1. UCF.</span></td>
      </tr>
    </table>
