    <table class='dated-table'>
      <tr>
        <td><strong>Jan 2026 - May 2026</strong></td>
        <td><span style="display: inline-block;"><p><strong>Graduate Teaching Associate (Instructor of Record) for COP-3402 Systems Software</strong><br>University of Central Florida. Orlando, Florida.</p><ul><li><strong>Lecturing</strong>. Twice a week, lectured to a class of 250 students on systems software topics, including Linux command line tools, C system calls, git, make, and compiler design with ANTLR.</li><li><strong>Exam Creation</strong>. Constructed and graded midterm and final exams.</li><li><strong>Office hours</strong>. Hosted four 45-minute long office hour sessions each week to resolve student issues with assignments and provide supplemental instruction on topics such as how to edit software with Vim.</li></ul></span></td>
      </tr>
      <tr>
        <td><strong>Aug 2023 - Apr 2024</strong></td>
        <td><span style="display: inline-block;"><p><strong>Graduate Teaching Assistant for COP-3402 Systems Software</strong><br>University of Central Florida. Orlando, Florida.</p><ul><li><strong>Teaching</strong>. Led weekly labs on the Linux command line, C system calls, git, make, and compiler design.</li><li><strong>Exam Proctoring</strong>. Answered student questions during exams and monitored students to prevent cheating.</li><li><strong>Student perception of Instruction</strong>. <a href="https://docs.google.com/spreadsheets/d/1EjWH-YXkb-_Eu4IdX0wat7OVKp5OswKjpEf29zrua80/edit?usp=sharing">Link</a>.</li></ul></span></td>
      </tr>
      <tr>
        <td><strong>May 2023 - Aug 2023</strong></td>
        <td><span style="display: inline-block;"><p><strong>Software Engineering Intern</strong><br>Trail of Bits. Remote.</p><ul><li><strong>C Language Toolsmithing</strong>. Created Macroni, a C static analysis tool that combines Trail of Bits’ tools PASTA and VAST to lower C preprocessor macros down to MLIR. Macroni is available on <a href="https://github.com/trailofbits/macroni">GitHub</a>.</li><li><strong>Peer-reviewed Development</strong>. Leveraged GitHub to push changes to company repos, submit code for code review, and finally merge changes into mainline branches.</li><li><strong>Research Discussion</strong>. Exhibited research results and Macroni to team members and company CEO, Dan Guido, for advice and criticism.</li></ul></span></td>
      </tr>
      <tr>
        <td><strong>Jul 2021 -<br>Jul 2023,<br>May 2025</strong></td>
        <td><span style="display: inline-block;"><p><strong>Graduate Research Assistant</strong><br>University of Central Florida. Orlando, Florida.</p><ul><li><strong>Software Engineering Research</strong>. Stay up-to-date on the latest academic developments in software egineering.</li><li><strong>Software Engineering</strong>. Implement research tools in C++ and Python.</li><li><strong>Conduct Experiments</strong>. Write Python and Bash scripts to automate running experiments and analyzing data.</li></ul></span></td>
      </tr>
      <tr>
        <td><strong>Sep 2019 - Jul 2021</strong></td>
        <td><span style="display: inline-block;"><p><strong>Quality Assurance Coordinator</strong><br>SP+. Orlando, Florida.</p><ul><li><strong>Agile Software Development</strong>. Engaged in agile software development methods within a small team to QA test software before moving on to later phases of development.</li><li><strong>Testing Automation</strong>. Refactored and wrote Python scripts to automate testing of various online user applications.</li><li><strong>Mobile Application Development</strong>. Tested company Android apps for compatibility with various versions of Android.</li></ul></span></td>
      </tr>
      <tr>
        <td><strong>Jan 2021 - May 2021</strong></td>
        <td><span style="display: inline-block;"><p><strong>Peer Tutor Mentor</strong><br>Student Academic Resource Center at the University of Central Florida. Orlando, Florida.</p><ul><li><strong>Tutor Mentoring</strong> Observed other tutors’ sessions and provided feedback as to how they may improve their communication and tutoring skills.</li></ul></span></td>
      </tr>
      <tr>
        <td><strong>Aug 2018 - May 2021</strong></td>
        <td><span style="display: inline-block;"><p><strong>Peer Tutor</strong><br>Student Academic Resource Center at the University of Central Florida. Orlando, Florida.</p><ul><li><strong>Group tutoring</strong>. Utilized Socratic teaching methods to teach Computer Science 1 and Object Oriented Programming to groups of 5 to 20 students at a time.</li><li><strong>Faculty Collaboration</strong>. Collaborated with UCF teaching staff to enhance tutoring session quality.</li></ul></span></td>
      </tr>
    </table>
