    <table class='dated-table'>
      <tr>
        <td><strong>Jan 2026 - Present</strong></td>
        <td><span style="display: inline-block"><strong>Graduate Teaching Associate (Instructor of Record) for COP-3402 Systems Software</strong><br>University of Central Florida. Orlando, Florida.</span></td>
      </tr>
      <tr>
        <td><strong>Aug 2024 - May 2025</strong></td>
        <td><span style="display: inline-block"><strong>Graduate Research Assistant</strong><br>University of Central Florida. Orlando, Florida.</span></td>
      </tr>
      <tr>
        <td><strong>Aug 2023 - Apr 2024</strong></td>
        <td><span style="display: inline-block"><strong>Graduate Teaching Assistant for COP-3402 Systems Software</strong><br>University of Central Florida. Orlando, Florida.</span></td>
      </tr>
      <tr>
        <td><strong>May 2023 - Aug 2023</strong></td>
        <td><span style="display: inline-block"><strong>Software Engineering Intern</strong><br>Trail of Bits. Remote.</span></td>
      </tr>
      <tr>
        <td><strong>Jul 2021 - May 2023</strong></td>
        <td><span style="display: inline-block"><strong>Graduate Research Assistant</strong><br>University of Central Florida. Orlando, Florida.</span></td>
      </tr>
      <tr>
        <td><strong>Sep 2019 - Jul 2021</strong></td>
        <td><span style="display: inline-block"><strong>Quality Assurance Coordinator</strong><br>SP+. Orlando, Florida.</span></td>
      </tr>
      <tr>
        <td><strong>Jan 2021 - May 2021</strong></td>
        <td><span style="display: inline-block"><strong>Peer Tutor Mentor</strong><br>Student Academic Resource Center at the University of Central Florida. Orlando, Florida.</span></td>
      </tr>
      <tr>
        <td><strong>Aug 2018 - May 2021</strong></td>
        <td><span style="display: inline-block"><strong>Peer Tutor</strong><br>Student Academic Resource Center at the University of Central Florida. Orlando, Florida.</span></td>
      </tr>
    </table>
