    <table class='dated-table'>
      <tr>
        <td><strong>March 2026</strong></td>
        <td><span style="display: inline-block">2026 CRA-WP Grad Cohort Workshop. Seattle, Washington.</span></td>
      </tr>
      <tr>
        <td><strong>Oct - Nov 2025</strong></td>
        <td><span style="display: inline-block">2025 CRA-WP Virtual Mentoring Series Workshops. Virtual.</span></td>
      </tr>
      <tr>
        <td><strong>May 2025</strong></td>
        <td><span style="display: inline-block">2025 CRA-E Career Landscape Workshop. Virtual.</span></td>
      </tr>
      <tr>
        <td><strong>June 2022</strong></td>
        <td><span style="display: inline-block">Programming Language Mentoring Workshop (PLMW). San Diego, California.</span></td>
      </tr>
    </table>
